/************************************************** STANDARD **************************************************/

FontAwesomeIconView {
    -fx-fill: white;
}

FontAwesomeIconView:hover {
    -fx-cursor: hand;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.anchorn-pane>.viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.redF {
    -fx-fill: null;
    -fx-fill: red;
}


/************************************************** STANDARD END **************************************************/


/************************************************** LOGIN **************************************************/

.login {
    -fx-background-color: linear-gradient(#014550, #7FCDD7);
}

.login_head {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: white;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.parent {
    -fx-background-color: #016474;
    -fx-border-color: #222222;
}

.parent_secontary {
    -fx-background-color: #01363d;
}

.popuphbox {
    -fx-background-color: rgba(1, 100, 116, 0.5);
}

.labelserch {
    fx-text-fill: black;
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 15px;
}

.bevel_grey {
    -fx-background-color: linear-gradient(#f2f2f2, #d6d6d6), linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%), linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.bevel_grey:hover {
    -fx-background-color: linear-gradient(#00707E, #00707E), linear-gradient(#01363d 0%, #015763 20%, #00b6ce 100%), linear-gradient(#00707E 0%, #00707E 50%);
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.6), 5, 0.0, 0, 1);
}

.child {
    -fx-background-color: linear-gradient(#027e85, #02d6f1);
    -fx-border-right: 20px;
}

.child1 {
    -fx-background-color: #027e85;
}


/************************************************** LOGIN END **************************************************/


/************************************************** HBOX **************************************************/

.hboxBorder {
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 15px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.hboxStyle {
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 15px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
}

.hboxStylehover {
    -fx-background-color: rgba(103, 140, 212, 0.5);
}

.hboxDynamic {
    -fx-background-color: #f6f7f9;
    -fx-background-radius: 5px;
}

.hboxRGBA {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 20px;
}

.hboxRGBABtn {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 0 0 20 20;
}

.hboxRGBAHbox {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}


/************************************************** HBOX END **************************************************/


/************************************************** VBOX **************************************************/

.vboxDay {
    -fx-background-color: rgba(64, 97, 112, 0.7);
    -fx-background-radius: 3px;
    /* -fx-border-color: rgb(68, 65, 65);
    -fx-border-width: 2px;
    -fx-border-radius: 3px; */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0.0, 25.0, 0.0, -5.0);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0.0, 25.0, 0.0, 5.0);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0.0, 25.0, 5.0, 0.0);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 0.0, 25.0, -1.0, 0.0);
}

.vboxTime {
    -fx-background-color: rgb(64, 97, 112, 0.7);
    -fx-background-radius: 4 4 4 4;
}

.vboxProgram {
    -fx-background-color: #1580be;
    -fx-background-color: #96cff0, linear-gradient(#b4e3ff 50%, #60c0f7 100%), radial-gradient(center 50% -40%, radius 200%, #b4e3ff 45%, #60c0f7 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
    -fx-effect: dropshadow(three-pass-box, rgba(26, 26, 26, 0.8), 12, 0.6, 0, 0);
}


/************************************************** VBOX  END **************************************************/


/************************************************** BUTTON **************************************************/

Button:hover {
    -fx-cursor: hand;
}

Button {
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 5, 0.0, 0, 1);
}

Button:hover {
    -fx-background-color: #033b44 100%, white;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.close-btn {
    -fx-background-color: transparent;
}

.close-btn:hover {
    -fx-background-color: #E81123;
}

.min-btn {
    -fx-background-color: transparent;
}

.min-btn:hover {
    -fx-background-color: rgba(23, 23, 23, 0.2);
}

.pressBtn {
    -fx-background-color: white 100%, #057c8f;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 5, 0.0, 0, 1);
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-radius: 8, 7, 6;
    -fx-border-insets: 0, 1, 2;
}

.unPressBtn {
    -fx-background-color: #F5F6F8;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 5, 0.0, 0, 1);
    -fx-text-fill: black;
}

.switchBtn {
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
}

.switchBtn:hover {
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
}

.btnReset {
    -fx-background-color: #F5F6F8;
}

.btn1 {
    /* PROGRAM */
    -fx-background-color: linear-gradient(#029EAC, #02A2B1);
    -fx-text-fill: white;
}

.btn2 {
    /* BRODCAST */
    -fx-background-color: linear-gradient(#02A5B5, #02A9BA);
    -fx-text-fill: white;
}

.btn3 {
    /* FACTOR */
    -fx-background-color: linear-gradient(#02ABBD, #02AFC2);
    -fx-text-fill: white;
}

.btn4 {
    /*LOGOUT*/
    -fx-background-color: linear-gradient(#02B3C6, #02B7CB);
    -fx-text-fill: white;
}


/************************************************** BUTTON END **************************************************/


/* .synMark {
    -fx-background-color: rgba(81, 124, 211, 0.5);
} */


/************************************************** TEXT **************************************************/

.textname {
    -fx-font-size: 18px;
    -fx-font-weight: BOLD;
    -fx-fill: white;
}

.daytext {
    -fx-fill: white;
}

.text-field:focused {
    -fx-border-color: null;
}

.error {
    -fx-border-color: red;
}

.noError {
    -fx-border-color: null;
}

.red {
    -fx-text-fill: red;
}

.green {
    -fx-text-fill: green;
}

.textLog {
    -fx-font-family: Arial, Helvetica, sans-serif;
    /* 1 */
    -fx-text-fill: Black;
    -fx-fill: Black;
}

.textProgram {
    -fx-font-family: 'Courier New', Courier, monospace;
    /* 2 */
    -fx-text-fill: Black;
    -fx-fill: Black;
}

.testText {
    -fx-font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    /* 3 */
    -fx-text-fill: Black;
    -fx-fill: Black;
}


/************************************************** TEXT END **************************************************/